@import 'app/layout';
@import 'app/color';
@import 'app/typography';

binary-clock {

  .clock {
    display: flex;
    justify-content: space-evenly;
  }

  .column {
    display: flex;
    justify-content: space-between;

    > .tens {
      align-self: flex-end;
    }
  }

  .dot {
    border: $keyline solid var(--inactive-dot);
    border-radius: 50%;
    &.active {
      border: $keyline solid var(--active-dot);
    }

    margin: 1rem;

    // ~phone
    @media (min-width: 320px) and (max-width: 480px) {
      margin: .1rem;
    }

    // ~tablet
    @media (min-width: 768px) and (max-width: 1024px) {
      margin: 1rem;
    }

    // ~desktop
    @media (min-width: 1281px) {
      margin: 5rem;
    }
  }

  .help {
    font-family: Helvetica, sans-serif;
    text-align: center;
    color: var(--font-color);
    font-size: 1rem;
  }

  .human-time {
    font-family: Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    color: var(--font-color);
    margin-top: $keyline;
    font-size: 3rem;
  }
}

@import 'material-design/icons';
@import 'material-design/list';
@import 'material-design/checkbox';
