// inactive
.mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate) ~ .mdc-checkbox__background {
  border-color: var(--font-color);
}

// checked ripple
.mdc-checkbox__background::before {
  background-color: var(--active-dot);
}

// checked active
.mdc-checkbox__native-control:enabled:checked ~ .mdc-checkbox__background, .mdc-checkbox__native-control:enabled:indeterminate ~ .mdc-checkbox__background {
  background-color: var(--active-dot);
  border-color: var(--font-color);
}
